page-login {
  .body {
    background-image: linear-gradient(to top, #21d2fd, #219aff);
  }
  
  .container{
    position: absolute;
    top: 45%; left: 0;
    transform: translateY(-50%);
    width: 100%;
  }

  .scroll-content {
    padding-bottom: 0 !important;
}

  .card{
    display: block;
    width: 90%;
    margin: auto;
    background: #fff;
    opacity: 1;
    border-radius: 20px;
    box-shadow: -1px 0px 10px rgba(0, 0, 0, 0.5);
    overflow: hidden;
    padding: 16px;

    h1{
      font-size: 24px;
      font-family: Lato;
      text-transform: uppercase;
      text-align: left;
      margin-top: 0;
      color: #001c6e;
    }

    &:not(.hidden){
      z-index: 10;
    }

    .content{
      transition: all .2s;
      
      ion-list{
        ion-item{
          padding: 0!important;
  
          ion-label{
            font-size: 18px!important;
          }
        }
      }
    }

    &.hidden{
      position: absolute;
      bottom: 0; left: 50%;
      transform: translate(-50%, calc(100% - 15px));
      z-index: -1;
      padding: 30px 0 0;
      width: 80%;

      .content{
        height: 0;
        overflow: hidden;
      }

      h1{ text-align: center; }
    }
  }
  .S-button{
    text-align: center;
    padding-top: 45px;
  }
  .content h3{
    font-size: 15px;
    text-transform: uppercase;
    color: #00a3ff;
    text-align: center;
  }

  .content p{
    float: right;
    font-size: 11px;
    color: #8c8c8c;
  }

  .finger-print{
    font-size: 35px;
    padding-bottom: 5%;
    color: #fff;
    left: 50%;
    position: fixed;
    top: 100%;
    transform: translate(-50%, -100%);
  }

.screen{
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  //border: 1px solid rgba(0, 138, 255, 0.4);
  border: none;
  border-radius: 20px;
  padding: 8px 0;
  width: 100%;
  text-align: center;
  font-size: large;
}


  .calculator   {
    max-width: 300px;
    margin: 0 auto;
    border: 1px solid rgba(0, 138, 255, 0.2);
    border-radius: 20px;
    //border: 2px solid #111;
    //border-radius: 5px;
  }

  .calc-button  {
    background-color: transparent;
    padding: 20px;
    //border-bottom: 2px solid #00a3ff;
    color: #00a3ff;
    font-size: 22px;
    margin:2px 2px 0 0
  }

  /*.calc-button:before{
    content: '';
    position: absolute;
    width: 20px;
    height: 1%;
    background-color: #00a3ff;
    margin-top: 25px;
    display: flex;
    margin-left: 11px;
  }*/

  .calculator-buttons {
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .calculator input{
    color: #00a3ff;
    letter-spacing: 44px;
    font-weight: 800;
    padding-left: 15%;
    padding-top: 20px;
  }

}
