page-video-tu {
.ListStyle{
    padding: 0;
    position: relative;
}
#gridStyle{
    padding-bottom: -20px;

}
#play{
    position: absolute;
    width: 15%;
    left: 50%;
    top: 45%;
    transform: translateX(-50%);
}
}
