page-cards {

    ion-slides{ 
        height: auto;
        margin-top:-75px
    }

    .header{
        position: relative;
        top: 0;
        left: 0;
        background-image: linear-gradient(to top, #21d2fd, #219aff);
        background-position: top;
        height: 30%;
    }
        .header__person{
        position: relative;
        width: 100%;
        padding: 5%;
        height: 50%;
    }
    .infos{
        color: #fff;
        float: left;
        

        h2{
            font-size: 1.5rem;
            line-height: 50%;
            font-family: 'Lato' , sans-serif;
        }

        p{
            font-size: 1.1rem;
            line-height: 50%;
            padding-top: 10px;
            color: #fff;
        }
    }
    .header__person img{
        float: left;
        max-width: 18%;
        max-height: 100px
    }
    .header ion-icon{
        float: right;
        font-size: 25px;
        color: #fff;
        padding-right: -10px
    }

    .montant{
        color: #fff;
        padding-left: 25px;
        width: 100%;
        display: inline-block;

        h2{
            font-size: 1.5rem;
            font-family: 'Lato' , sans-serif;
            float: left;
            margin: -5px 5px;
        }

        p{
            float: right;
            margin: -5px 25px;
            font-size: 2rem;
            font-family: 'Lato' , sans-serif;
        }
    }

    

    .n-card{
    background-image: linear-gradient(to top left, rgba(125, 14, 180, 0.9), rgba(196, 8, 137, 0.8), rgba(255, 75, 43, 0.9)), url(../../assets//imgs//world.png);
    background-size: cover;
    height: 150px;
    width: 240px;
    border-radius: 20px;
    position: relative;
    left: 50%;
    transform: translate(-50%, 5%);
    margin: 0;

    img{
        float: right;
        // zoom: 1.1
    }
    h2{
        float: left;
        padding: 15px;
        font-family: 'Lato', sans-serif;
        font-size: 1.7rem;
        color: #fff;
    }

    .solde{
        position: relative;
        text-align: center;
        width: 100%;
        display: inline-block;

        h1{
            font-family: 'Lato', sans-serif;
            color: #fff;

            small{
                font-family: sans-serif;
                font-size: 1rem;
                font-weight: 100;
            }
        }
    }

    .bottom-card{
        position: absolute;
        bottom:7%;
        width: 100%;
        left: 0;
        padding-left: 15px;

        p{
            color: #fff;
            font-weight: 100;
            text-align: left;
            font-size: 1.2rem
        }
        small{
            color: #fff;
            font-weight: 100;
            float: left
        }
    }

    .bottom-card-right{
        position: absolute;
        bottom: 7%;
        width: 100%;
        text-align: right;
        padding-right: 15px;

        p{
            color: #fff;
            font-weight: 100;
            font-size: 1rem;
            margin: 0;
        }
        small{
            color: #fff;
            font-weight: 100;
            margin: 0;
            font-size: 1rem;
        }
    }
    }

    .sendto {
        position:relative; 
        width: 100%; 
        display: inline-block;
        margin-top: 20px;

        p{
            float: left;
            font-family: 'Lato', sans-serif;
            color: #B4B4B4;
            font-size: 1rem;
            padding-left: 15px;
        }

        .taille {
            display: block;
            background-color: red
        }

    }

    // .items {
    //     position: relative;
    // }

    .items {
        h2{
            font-size: 12px;
            margin: 0;
            color: #021244;
            font-family: 'Lato', sans-serif;
            font-weight: 800
        }
        p{
            font-size: 8px;
            margin: 0;
            color: #B4B4B4;
            font-family: sans-serif;
            font-weight: 400;
            padding-top: 8px;
        }
    }

    .inner {
        // width: 2000px;
        height:80px;
        margin-left: 60px;
        ion-card {
            display: table-cell;
            box-shadow: none;

            img {
                height: 40px;
                border-radius: 30px

            }

        }
    }
}
